*{
margin: 0;
}
body {
  margin: 0;
}
/* NAV-AREA START */
.navbarContainer {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  padding: 4px 16px;
  box-sizing: border-box;
}

.navArea {
  flex: 1;
  height: 100%;
  display: flex;
}

.navAreaOne {
  background-color: yellow;
  align-items: center;
}
.logoImg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
a {
  text-decoration: none;
  display: flex;
}
.navBtn {
  margin: 8px;
  text-decoration: none;
  &:hover {
    color: red;
    font-size: 20px;
  }
}
.navAreaTwo {
  background-color: beige;
  justify-content: center;
  align-items: center;
}
.navAreaThree {
  background-color: purple;
}

/* NAV-AREA END */

/* Content START */
.contentContainer {
  width: 100%;
  height: 85vh;
  background-color: blue;
  padding: 32px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}
/* Content END */

/* Footer START */
.footerContainer {
  height: 80px;
  width: 100%;
  background-color: green;
  padding: 16px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
}

/* Footer END */
